body {
  background-color: #6e6c69;
}

.cardHolder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2em;
}

.card {
  min-width: 300px;
  min-height: 300px;
  background-color: darkgrey;
}
